body {
	margin: 0;
}
.page {
	background: #005aa3;
	width: 100%;
	height: 2100px;

}

.info{
	background:#004e8e;
	width: auto;
	height: 15px;
	text-align: center;
	color: white;
	font-size: 12px;
	border-right: 1px solid white;
	font-family: Optima, Arial;	
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 12%;
	border-bottom: 1px solid #378ccd;
}

.fa {
	margin: 0 .5%;

}


hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px;
	color: white;
}

.list {
	display: inline-block;
	margin: 0 5px;
}

.whitecontainer {
	background: white;
	width: 94%;
	height: 2000px;
	margin: 1.5% 3%;
	box-shadow: 2px 2px 4px 1px #fff;

}

.logo {
	float: left;
	padding-top: 2%;
	padding-left: 2%;
}

.nav {
	padding-left: 45%;
}

.list a {
	text-decoration: none;
	color: #005aa3;
	font-size: 20px;
	font-family: Helvetica Neue;
	position: inline-block;
	font-weight: bold;
	float:right;
	margin-top: 45px;


}
.mainpic {
	width: 96%;
	margin: 2%;
}

.rowpic {
	margin: 2%;
	position: inline:block;
}



.familyimage img {
	min-width: 84%;
	margin: 2% 8% 1% 8%;
}

.caixa {
	width: 33%;
	display: inline-block;
}
.maincontent {
	margin: 2%;
	font-size: 14px;
}
.video {
	text-align: center
	/*margin: 20%;*/
}
.watermark {
	float:right;
	margin-top: 17px;
}
.footer{
	color: white;
	width: 94%;
	margin-top: 0;
	margin-left: 3%;
}
.footernav{
	text-decoration: none;
	color: white;
	font-size: 12px;

}
.lista {
	display: inline-block;
	float:right;
	widows: 50%;
	margin: 0px 10px 0px 10px;
}

.lista a {
	text-decoration: none;
	color:#fff;
}

.terms {
	width: 55%;
}

.links {
	width: 40%;
	margin-top: -50px;
	margin-left: 57%;
	text-align: right;
}